.footer
  .link
    %ur.list
      %li FURIMAについて
      %li 会社概要（運営会社）
      %li プライバシーポリシー
      %li FURIMA利用規約
      %li ポイントに関する特約
    %ur.list
      %li FURIMAを見る
      %li カテゴリー一覧
      %li ブランド一覧
    %ur.list
      %li ヘルプ&ガイド
      %li FURIMAガイド
      %li FURIMAロゴ利用ガイドライン
      %li お知らせ
  = image_tag 'logo/logo-white.png', class: 'logo'