.header
  .top
    = image_tag 'logo/logo.png', class: 'logo'
    = text_field_tag 'name', '', class: 'search_box', placeholder: 'キーワードから探す'
  .nave_bar
    %ur.list
      %li.menu カテゴリー
      %li.menu ブランド

    %ur.list
      %li.menu ログイン
      %li.menu 新規登録