FURIMAの特徴
.reason
  .box
    = image_tag 'icon/icon-01.png', class: 'pict'
    簡単に売り買いできる
    スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
  .box
    = image_tag 'icon/icon-02.png', class: 'pict'
    売上金は即日振込みに対応
    午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
  .box
    = image_tag 'icon/icon-03.png', class: 'pict'
    様々な支払いに対応
    お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。