.footer{
  // position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: $black;
  padding: 10px 25%;
  text-align: center;
  .link{
    // padding: 0 25%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    
    .list{
      line-height: 48px;
      list-style: none;
      color: white;
    }
  }
  .logo{
    width: 10%;
    height: 10%;
  }
}