.header{
  // position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15%;
  background-color: $gray;
  .top{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

    .logo{
      height: 15%;
      width: 15%;
    }
    
    .search_box{
      width: 80%;
      height: 30px;
    }
  }


  .nave_bar{
    display: flex;
    justify-content: space-between;

    .list{
      height: 48px;
      line-height: 48px;
      display: flex;
      list-style: none;
      
      .menu{
        margin: 0 20px;
      }
    }
  }
}